font-face {
  font-family: "robotobold";
  src: url("fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotolight";
  src: url("fonts/roboto-light-webfont.woff2") format("woff2"),
    url("fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


.main {
  background-image: url("../img/bg.jpg");
  height: 100%;
  background-size: cover;
}

.sign-up-form {
  display: flex;
  justify-content: center;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  height: 100%;
}

.logo {
  padding: 6rem 7rem;
  color: #fff;
  font-size: 2.6rem;
}

.form {
  border-radius: 2rem;
  box-shadow: 0px 30px 110px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  width: 60rem;
}

.form-in {
  padding: 8rem 9.4rem 5.8rem 9.5rem;
}

.form-text {
  font-size: 4rem;
  text-align: center;
  font-family: "robotolight";
  line-height: normal;
  padding-bottom: 3rem;
}

.form-text span {
  font-weight: bold;
}

.signupbtn {
  text-align: center;
}

.btn-sign-up {
  width: 100%;
  padding: 2.7rem 0rem;
  border-radius: 4.4rem;
  box-shadow: 0px 10px 50px 0 rgba(118, 79, 206, 0.3);
  background-color: #6762ff;
  color: #fff;
  font-family: "robotolight";
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  transition: 0.1s;
}

.btn-sign-up:hover {
  background-color: #7975f3;
}

.btn-sign-up i {
  font-size: 2rem;
  position: absolute;
  left: 6.4rem;
  top: 3.2rem;
}

.term {
  text-align: center;
  padding-top: 3.3rem;
}

.info {
  padding-top: 1.6rem;
  font-family: "robotoregular";
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
  width: 28rem;
  margin: 0 auto;
}

.term i {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  opacity: 0.5;
}

.not {
  text-align: center;
  margin: 0 auto;
  display: table;
  width: 30rem;
  height: 4.3rem;
  font-size: 2rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  font-family: "robotolight";
  padding-bottom: 2rem;
}

.input-email,
.input-name {
  border-radius: 34px;
  width: 88%;
  height: 6.4rem;
  border: 1px solid #bfb6c6;
  padding-left: 5.4rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: "robotolight";
  font-weight: bold;
  font-size: 2rem;
}

.inputs {
  margin-bottom: 2.2rem;
}

.form-signup {
  height: 60rem;
}

.form-signup .btn-sign-up {
  height: 7.8rem;
  font-size: 2rem;
}

.form-signup .btn-sign-up i {
  top: 2.9rem;
}

.sign-up-text {
  padding-top: 5.1rem;
  font-family: "robotolight";
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
}

.sign-up-text a {
  color: #764fce;
  font-weight: bold;
}

.form-signup .form-in {
  padding: 7rem 9.4rem 5.8rem 9.5rem;
}

.form-confirm .not {
  padding-bottom: 5.4rem;
}

.sms-code {
  position: relative;
}

.code {
  width: 13rem;
  height: 4.3rem;
  border-radius: 21px;
  background-color: #ff8c00;
  color: #fff;
  top: 1.3rem;
  right: 1.5rem;
  position: absolute;
  font-size: 1.6rem;
  font-family: "robotolight";
  font-weight: bold;
}

.submit-btn {
  width: 100%;
  height: 6.8rem;
  border-radius: 34px;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.5);
  font-family: "robotolight";
  font-size: 2rem;
}

.main-bg {
  background-color: #f5f5f5;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;
}

.dots {
  float: left;
  position: absolute;
  bottom: 0.6rem;
  left: -1.9rem;
}

.menu {
  position: relative;
}

.sign-out {
  float: left;
}

.bg-leaderboard {
  height: 100% !important;
}

.dots a {
  font-family: "robotolight";
  font-size: 4rem;
}

.sign-out a {
  padding-right: 7.5rem;
  padding-left: 4rem;
  color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  font-family: "robotolight";
}

.logo-area {
  padding-left: 7.8rem;
  font-size: 2.6rem;
  color: #000000;
  font-family: "robotolight";
  font-weight: bold;
}

.container {
  padding-top: 5.3rem;
  display: flex;
  justify-content: center;
}

.leaderboard_in {
  padding: 5.2rem 4.7rem 5.7rem 4.8rem;
}

.user {
  float: right;
  padding-bottom: 3.4rem;
}

.user-mail {
  font-size: 1.6rem;
  font-family: "robotolight";
  color: #fff;
  font-weight: bold;
  padding-right: 2rem;
  float: left;
  padding-top: 1.6rem;
}

.leaderboard {
  width: 57rem;
  height: 77.7rem;
  border-radius: 20px;
  background-color: #6762ff;
}

.userborder {
  width: 4.6rem;
  height: 4.6rem;
  border: 2px solid #f4d01e;
  border-right: 2px solid #f4d01e;
  border-bottom: 2px solid #f4d01e;
  border-top: 2px solid #6762ff;
  border-radius: 50%;
  float: left;
  position: relative;
  -webkit-transform: rotate(-45deg);
}

.userborder i {
  -webkit-transform: rotate(405deg) !important;
  color: #fff;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 1.5rem;
}

.rank {
  width: 47.5rem;
  border-radius: 20px;
  background-color: #2f2d80;
}

.rank_in {
  padding: 7rem 5.3rem 4.2rem 5.2rem;
}

.rank-leaderboard i {
  color: #fff;
}

.rank-leaderboard i:first-child {
  padding-right: 20px;
  font-size: 2rem;
}

.rank-leaderboard .fa-trophy {
  padding-left: 20px;
  font-size: 2rem;
}

.rectangle {
  background-color: #9a99c0;
  border-radius: 1.5px;
  width: 29rem;
  height: 0.3rem;
  margin-top: 0.7rem;
  position: relative;
}

.square {
  position: absolute;
  top: -1rem;
  left: 19.1rem;
  width: 2.6rem;
  height: 2.6rem;
  background-color: #f4d01e;
  border-radius: 50%;
}

.rank-leaderboard {
  display: flex;
  position: relative;
}

.lead-text {
  color: #fff;
  position: absolute;
  top: -3.5rem;
  left: 23.5rem;
  font-size: 1.2rem;
  font-family: "robotolight";
  font-weight: bold;
}

.ranked-text {
  width: 25.3rem;
  height: 5.1rem;
  font-family: "robotolight";
  font-size: 2.6rem;
  font-weight: bold;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  padding: 3.7rem 0rem;
}

.invite {
  text-align: center;
}

.invite i {
  color: #aeaec7;
}

.invite-text {
  color: #aeaec7;
  padding-top: 1.1rem;
  font-family: "robotolight";
  font-size: 1.5rem;
}

.refer {
  padding-top: 4rem;
  text-align: center;
  padding-bottom: 3rem;
}

.refer span {
  font-family: "robotoregular";
  color: #fff;
  font-size: 2.6rem;
  line-height: 3rem;
}

.refer span:last-child {
  font-size: 1.5rem;
  padding-top: 0.9rem;
}

.link-copy {
  width: 47.5rem;
  height: 6.8rem;
  border-radius: 3.4rem;
  background-color: #ffffff;
  position: relative;
}

.link-text {
  position: absolute;
  font-size: 2rem;
  font-family: "robotoregular";
  color: #ababab;
  left: 5.4rem;
  top: 2.3rem;
}

.link-copy i {
  color: #313131;
  position: absolute;
  right: 3.3rem;
  top: 2.7rem;
  font-size: 1.6rem;
}

.link-copy a {
  color: #313131;
  position: absolute;
  right: 6.3rem;
  top: 2.6rem;
  font-family: "robotoregular";
  font-size: 1.6rem;
}

.socials {
  padding-top: 4.2rem;
}

.social {
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 3.4rem;
  border: 2px solid #ffffff;
  margin-right: 2.2rem;
  display: flex;
    justify-content: center;
    align-items: center;
}

.social i {
  font-size: 2rem;
  line-height: 6.8rem;
  color: #fff;
}

.socials {
  display: flex;
}

.prizes {
  width: 57rem;
  height: 66rem;
  border-radius: 20px;
  background-color: #ffffff;
  margin-left: 3rem;
  position: relative;
  overflow: hidden;
}

.prizes-img {
  position: absolute;
  top: 15%;
  left: 60%;
}

.prizes-header {
  padding-top: 4.7rem;
  padding-left: 6.9rem;
  font-size: 2.6rem;
  font-family: "robotolight";
  font-weight: bold;
}

.prizes-list {
  padding-left: 10rem;
  padding-top: 7.5rem;
}

.token-border {
  width: 5rem;
  height: 5rem;
  border-radius: 25px;
  border: 2px solid #7f85fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.token-border span {
  font-size: 1.6rem;
  font-family: "robotolight";
  font-weight: bold;
}

.token {
  display: flex;
  padding-bottom: 2rem;
}

.token-text {
  padding-top: 1.7rem;
  padding-left: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "robotolight";
}

.orange {
  border: 2px solid #ff8c00;
}

.yellow {
  border: 2px solid #f4d01e;
}

.black {
  border: 2px solid #cdcdcd;
}

.see {
  padding-left: 7.5rem;
  padding-top: 2rem;
  color: #a4a4a4;
  font-weight: bold;
  font-family: "robotolight";
  font-size: 1.4rem;
  cursor: pointer;
}

.see i {
  padding-left: 1.4rem;
}

.how {
  width: 57rem;
  border-radius: 20px;
  background-color: #ffffff;
  margin-top: 3rem;
  margin-left: 3rem;
}

.how-container {
  display: flex;
  justify-content: space-between;
  padding: 3.4rem 6.9rem;
}

.how-text {
  font-size: 2.6rem;
  font-family: "robotolight";
  font-weight: bold;
}

.read {
  color: #a4a4a4;
  font-family: "robotolight";
  font-weight: bold;
  font-size: 1.4rem;
  padding-top: 0.7rem;
  cursor: pointer;
}

.read i {
  padding-left: 1.2rem;
}

.resend {
  width: 92%;
  height: 6.3rem;
  background-color: #e8e7f6;
  border-radius: 2rem;
  margin-top: 6.8rem;
  display: flex;
  justify-content: center;
  margin: 7rem auto;
  position: relative;
}

.resend-text {
  line-height: 6.8rem;
  color: #2b24f7;
  font-family: "robotolight";
  font-size: 1.6rem;
}

.resend-text a {
  color: #000000;
  font-weight: bold;
}

.x {
  position: absolute;
  right: 2.9rem;
  top: 2.4rem;
}

#panel {
  display: none;
  padding: 3.4rem 6.9rem;
  font-size: 2.6rem;
  font-family: "robotolight";
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}


.overlay.is-on {
  opacity: 1;
  visibility: visible;
}
.overlay.is-on .content {
  opacity: 1;
  visibility: visible;
  top: 0;
}
.overlay .content {
  background: #fff;
  position: absolute;
  top: -50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 80%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 3rem;
}

#close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 15px;
  color: #999;
  cursor: pointer;
}

@media only screen and (max-width: 1680px) {

  html {
    font-size: 9px;
  }


}

@media only screen and (max-width: 1440px) {


  html {
    font-size: 8px;
  }
}
@media only screen and (max-width: 1366px) {

  html {
    font-size: 7px;
  }


}


@media only screen and (max-width: 1024px) {


  .how {
    width: 100%;
  }

  .resend {
    width: 100%;
  }

  .sign-up-form {
    width: 100%;
  }
}

@media only screen and (max-width: 1440px) {
  .btn-sign-up i {
    position: relative;
    left: 0px;
    top: 0px !important;
  }

  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    display: table;
    margin: 0 auto;
  }
  .prizes {
    margin-left: 0px;
    margin-top: 3rem;
  }

  .how {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 418px) {
  html {
    font-size: 6px;
  }

  .prizes-list {
    padding-left: 6rem;
  }

}

